:root {
    --black: hsl(0, 0%, 0%);
    --gray-1: hsl(0, 0%, 5%);
    --gray-2: hsl(0, 0%, 20%);
    --gray-3: hsl(0, 0%, 30%);
    --gray-4: hsl(0, 0%, 50%);
    --gray-5: hsl(0, 0%, 85%);
    --gray-6: hsl(0, 0%, 90%);
    --gray-7: hsl(0, 0%, 95%);
    --gray-8: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --orange: hsl(43, 98%, 65%);
    --pink: hsl(330, 100%, 50%);
    --cyan: hsl(167, 100%, 74%);
    --blue: hsl(212, 100%, 48%);
    --red: hsl(0, 100%, 47%);

    --red-pale: hsl(0, 38%, 75%);
    --green-pale: hsl(60, 45%, 75%);

    --text-2xs: .5rem;
    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
}

.light {
    --bg: var(--white);
    --text: var(--black);

    --sidebar: var(--gray-8);
    --sidebar-border: var(--gray-7);
    --sidebar-bg-active: var(--gray-7);
    --sidebar-active: var(--black);

    --notification-text: var(--gray-2);
    --notification-bg: var(--white);

    --node-bg-open: var(--white);
    --node-border-open: var(--gray-8);
    --node-bg-visited: var(--gray-7);
    --node-bg-wall: var(--gray-3);
    --node-bg-start: var(--green-pale);
    --node-bg-end: var(--red-pale);
    --node-text-current: var(--white);
    --node-bg-current: var(--orange);
}

.dark {
    --bg: var(--black);
    --text: var(--white);

    --sidebar: var(--gray-1);
    --sidebar-border: var(--gray-1);
    --sidebar-bg-active: var(--cyan);
    --sidebar-active: var(--black);

    --notification-text: var(--white);
    --notification-bg: var(--black);

    --node-bg-open: var(--white);
    --node-border-open: var(--gray-8);
    --node-bg-visited: var(--gray-7);
    --node-bg-wall: var(--gray-3);
    --node-bg-start: var(--green-pale);
    --node-bg-end: var(--red-pale);
    --node-text-current: var(--black);
    --node-bg-current: var(--cyan);
}
